app/pug/splash.pug
doctype html
html
  head
    link(rel="stylesheet", href="../css/splash.css")
    script(src="../js/splash.js")
  body
    header
      h1 The master's companion
    main.grid.col
      .just: button.occupyw.special#conn Connect
      .just: button.occupyw.reduce#hst Host
      .just: button.occupyw.reduce#conf Configure player
    footer
      p Y. The monster - 2016
    dialog#connect
      .grid
        .full.grid
          .third: label(for="ip") IP:
          .twothird: input(type="text", id="ip", placeholder="127.0.0.1").occupyw
        .full.grid
          .third: label(for="portc") Port:
          .twothird: input(type="text", id="portc", placeholder="2020").occupyw
        .full.grid
          .third
          .third: button.occupyw.cancel.reduce.close Cancel
          .third: button.occupyw.ok#join Ok
    dialog#host
      .grid
        .full.grid
          .third: label(for="porth") Port:
          .twothird: input(type="text", id="porth", placeholder="2020").occupyw
        .full.grid
          .third
          .third: button.occupyw.cancel.reduce.close Cancel
          .third: button.occupyw.ok#create Ok

app/html/splash.html
<!DOCTYPE html><html><head><link rel="stylesheet" href="../css/splash.css"><script src="../js/splash.js"></script></head><body><header><h1>The master's companion</h1></header><main class="grid col"><div class="just"><button class="occupyw special" id="conn">Connect</button></div><div class="just"><button class="occupyw reduce" id="hst">Host</button></div><div class="just"><button class="occupyw reduce" id="conf">Configure player</button></div></main><footer><p>Y. The monster - 2016</p></footer><dialog id="connect"><div class="grid"><div class="full grid"><div class="third"><label for="ip">IP:</label></div><div class="twothird"><input class="occupyw" type="text" id="ip" placeholder="127.0.0.1"></div></div><div class="full grid"><div class="third"><label for="portc">Port:</label></div><div class="twothird"><input class="occupyw" type="text" id="portc" placeholder="2020"></div></div><div class="full grid"><div class="third"></div><div class="third"><button class="occupyw cancel reduce close">Cancel</button></div><div class="third"><button class="occupyw ok" id="join">Ok</button></div></div></div></dialog><dialog id="host"><div class="grid"><div class="full grid"><div class="third"><label for="porth">Port:</label></div><div class="twothird"><input class="occupyw" type="text" id="porth" placeholder="2020"></div></div><div class="full grid"><div class="third"></div><div class="third"><button class="occupyw cancel reduce close">Cancel</button></div><div class="third"><button class="occupyw ok" id="create">Ok</button></div></div></div></dialog></body></html>
